@page "/about"
@layout MainLayout
@inject IJSRuntime JsRuntime

<PageTitle>Page Title</PageTitle>

<h3>About Us</h3>
<p>@aboutUs</p>

<button @onclick="ChangeBody">Change Body</button>

<textarea @bind="aboutUs"></textarea>

<hr>

<div>@divBody.bodyHtml</div>
<br><br>
<textarea @ref="txtArea" @onchange="changeDiv" cols="30" rows="10"></textarea>

@code {
    public class HtmlBody 
    {
        public MarkupString bodyHtml;
        public string stringHtml = "";
    }

    private string aboutUs = "";

    private HtmlBody divBody = new HtmlBody();

    private ElementReference txtArea;

    public async void ChangeBody(MouseEventArgs args)
    {
        this.aboutUs = "HAI HAI";
        await JsRuntime.InvokeVoidAsync("console.log", args);
    }

    public async void changeDiv(ChangeEventArgs args)
    {
        await JsRuntime.InvokeVoidAsync("console.log", args);
        
        divBody.stringHtml = args.Value?.ToString() ?? "";
        divBody.bodyHtml = new MarkupString(divBody.stringHtml);
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        txtArea.FocusAsync();
        base.OnAfterRender(firstRender);
    }
}