@page "/param"
@using Microsoft.AspNetCore.Components.Forms
@using blazor_server.Model
@inject NavigationManager navMan
@inject ILogger<SearchForm> Logger
@inject IJSRuntime JsRuntime


<form @onsubmit="OnSubmit" method="get">
    <input type="text" name="botak">
    <button>Submit</button>
</form>

<EditForm Model="@form" OnSubmit="Submit">
    <h6>Pakai Edit Form</h6>
    <input type="text" name="botak" @bind-value="form.Botak">
    <button>Submit</button>
</EditForm>

@if(this.form.Botak != "" && form.Botak != null && submited)
{
    <p>WOW, Data is print here! @form.Botak</p>
}


@result

<script>
function alerting(data)
{
    alert("Isinya : " + data)
}
</script>

@code {
    private string result = "";
    private SearchForm form = new();

    private bool submited = false;

    private void OnSubmit(EventArgs args)
    {
        string data = args.ToString();
        result = data;
        navMan.NavigateTo("");
    }

    private async void Submit()
    {
        Logger.Log(LogLevel.Debug, $"{form.Botak}");
        this.submited = true;
        await JsRuntime.InvokeVoidAsync("alerting", form.Botak);
        this.ShouldRender();
    }
}